body {
	background-image: url('http://getwallpapers.com/wallpaper/full/d/3/4/73439.jpg');
	background-repeat: no-repeat;
	background-size: center;
}

button {
	justify-content: center;
}

h1 {
	font-family: 'Cinzel', serif;
	color: #FFFAF0;
	letter-spacing: 3px;
	font-size: 43px;
}
a {
	color: white;
	font-family: 'Cinzel', serif;
	font-size: 8px;
}
h2, p{
	font-family: 'Cinzel', serif;
	color: #FFFAF0;
	text-align: center;
}

li {
	font-family: 'Cinzel', serif;
	color: #FFFAF0;
	letter-spacing: 3px;
	font-size: 30px;
	list-style-type: none;
	text-align: center;
}