body {
	background-image: url('http://getwallpapers.com/wallpaper/full/d/3/4/73439.jpg');
	background-repeat: no-repeat;
	background-size: center;
}

button {
	justify-content: center;
}

h1 {
	font-family: 'Cinzel', serif;
	color: #FFFAF0;
	letter-spacing: 3px;
	font-size: 43px;
}
a {
	color: white;
	font-family: 'Cinzel', serif;
	font-size: 8px;
}
h2, p{
	font-family: 'Cinzel', serif;
	color: #FFFAF0;
	text-align: center;
}

.answer {
	font-family: 'Cinzel', serif;
	color: #FFFAF0;
	letter-spacing: 3px;
	font-size: 30px;
	list-style-type: none;
	text-align: center;
}

.answer:hover{
	color: red;
	cursor: pointer;
	transition: all 1s ease;
}

#score{
	display: block;
	font-size: 25px;
	color: red;
	font-family: 'Cinzel', serif;
	text-align: center;
	margin: 0 auto;
    opacity: 1;
    animation: heartbeat 3s infinite;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

button {
	background-color: red;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 
}