body {
	background-image: url('http://getwallpapers.com/wallpaper/full/d/3/4/73439.jpg');
	background-repeat: no-repeat;
	background-size: center;
}

button {

}

h1 {
	font-family: 'Cinzel', serif;
	color: #FFFAF0;
	letter-spacing: 3px;
	font-size: 43px;
}